@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*
{
	margin:0;
	padding: 0;
	transition: 0;
	overflow: hidden;
	font-family: 'Poppins' , sans-serif;
}
.container-fluid
{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
    background-image: image("assets/Images/img6.png");
}
.container
{
	width: 1200px;
	height: 80px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center ;
}
#logo
{
	color: #fff;
	cursor: pointer;
}
/**/
nav ul
{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul li
{
	margin-right: 30px;
	cursor: pointer;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	font-family: monospace;
}
nav ul li:hover
{
	color: #058283;
}
nav ul li a
{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}
ul li
{
	margin-right: 30px;
	cursor: pointer;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	font-family: monospace;
}
ul li a:hover
{
	color: #058283;
}

/**/
.content
{
	width: 1200px;
	height: 100vh;
	margin: auto;
}
h3
{
	color: whitesmoke;
	padding-top: 100px;
	font-weight: 400;
}
h1
{
	font-size: 80px;
	color: #fff;
	margin-top: 20px;
	line-height: 75px;
}
h2
{	
	color: #fff;
	margin-top: 20px;
	line-height: 75px;
}
p
{
	color: #f1f1f1;
	font-size: 16px;
	margin-top: 30px;
	line-height: 30px;
	letter-spacing: 1px;		
}	
/**/
span #logo1
{
	color: #fff;
	line-height: 75px;
	font-size: 16px;
	margin-top: 30px;
	text-align: 35%;	
}