<p>contact works!</p>
	<div class="container-fluid">
		<div class="container">
			<h2 id="logo"></h2>
		</div>
    <div class="content">
        	<h2><b>" We usually save money to waste it."</b></h2>	
        	<h3><b>Join with our family!. </b></h3>
        	<marquee>*Terms & Conditions Apply*</marquee>
		    <h2><b>Contact Us </b></h2>
		    <img src="assets/Images/call_logo.jpg" width="35 px" height="35px"> 91822110311
		    <br><br>
		    <img src="assets/Images/email_logo.png" width="35 px" height="35px"> productshop_gmail.com
		    <br>
			
        </div>
	</div>